<mat-toolbar color="primary">
 
    <h1>Gym Registration App</h1>
    <span class="example-spacer"></span>
    <button (click)="logout()" routerLink="/login" mat-raised-button color="accent" >
      Logout
  
    </button>
   
    <button style="margin: 1rem;" routerLink="/list" mat-raised-button color="accent">
      View Inquiries
  
    </button>
  </mat-toolbar>
  <div class="container mt-4">
    <router-outlet></router-outlet>
  </div>
  
  <lib-ng-toast></lib-ng-toast>
  <ng-confirm></ng-confirm>